<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
    ********************************************************************************
    *      spring 基础配置
    ********************************************************************************
    -->
    <!-- step-01 扫描注解: @Component, @Repository, @Service, @Controller-->
    <context:component-scan base-package="com.learn"/>

    <!-- step-05 加载配置文件-->
    <context:property-placeholder location="classpath:app.properties"
                                  ignore-resource-not-found="true"  ignore-unresolvable="true"/>
    <!-- step-01 视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          id="internalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- step-05 数据连接池 -->
    <import resource="classpath:im-druid-bean.xml"/>
    <!-- step-05 Mybatis -->
    <import resource="classpath:im-mybatis-bean.xml"/>



</beans>